.nav_body {
  width: 90%;
  /* margin: 0 10%; */
  padding: 1%;
  padding-bottom: 2%;
  padding-left: 10%;
  margin-left: 5%;
}

@media screen and (max-width: 768px) {
  .nav_body {
    padding-left: 0%;

    margin-right: 0;
  }
}

.nav_bar {
  height: 40px;
}
.nav_left {
  display: flex;
}
.nav_left_button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #69c166;
  background-color: #2a2a2a;
  border-radius: 4px;
  color: #69c166;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_left_button:hover {
  background-color: #69c166;
  border-color: #69c166;
  color: white;
}

.nav_left_button:active {
  background-color: #69c166;
  border-color: #69c166;
}

.nav_left_button:last-child {
  margin-right: 0;
}
