.nav_body {
  width: 30%;
  margin: 0 15%;
  width: 600px;
  padding: 1%;
  padding-left: 4%;
  padding-bottom: 2%;
}

.nav_bar {
  height: 40px;
}
.nav_left {
  display: flex;
}
.nav_left_button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #69c166;
  background-color: #2a2a2a;
  border-radius: 4px;
  color: #69c166;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_left_button:hover {
  background-color: #69c166;
  border-color: #69c166;
  color: white;
}

.nav_left_button:active {
  background-color: #69c166;
  border-color: #69c166;
}

.nav_left_button:last-child {
  margin-right: 0;
}
